@font-face {
	font-family: 'Light';
	src: url('KyivTypeTitling-Light.woff2') format('woff2'), url('KyivTypeTitling-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Regular';
	src: url('KyivTypeTitling-Regular.woff2') format('woff2'), url('KyivTypeTitling-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Bold';
	src: url('KyivTypeTitling-Bold.woff2') format('woff2'), url('KyivTypeTitling-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}